In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("IT138_26112020114523938_IKTsp.csv")

,INDICATOR,Näitaja,ACTIVITY,Tegevusala,SIZECLASS,Tööga hõivatud isikute arv,FREQUENCY,Korduvus,TIME,Vaatlusperiood,Value,Flag Codes,Flags
0,E_ITSP2,IKT-spetsialistidega ettevõtted,TOTAL,Kokku – kõik tegevusalad,TOTAL,Kokku,A,Aasta,2014,2014,15.2,NaN,NaN
1,E_ITSP2,IKT-spetsialistidega ettevõtted,TOTAL,Kokku – kõik tegevusalad,TOTAL,Kokku,A,Aasta,2015,2015,14.4,NaN,NaN
2,E_ITSP2,IKT-spetsialistidega ettevõtted,TOTAL,Kokku – kõik tegevusalad,TOTAL,Kokku,A,Aasta,2016,2016,14.7,NaN,NaN
3,E_ITSP2,IKT-spetsialistidega ettevõtted,TOTAL,Kokku – kõik tegevusalad,TOTAL,Kokku,A,Aasta,2017,2017,14.9,NaN,NaN
4,E_ITSP2,IKT-spetsialistidega ettevõtted,TOTAL,Kokku – kõik tegevusalad,TOTAL,Kokku,A,Aasta,2018,2018,13.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,E_ITSPVAC2,Eelmisel aastal IKT-spetsialistide värbamisega...,S,Muud teenindavad tegevused,20-49,20 kuni 49 töötajat,A,Aasta,2020,2020,0.0,NaN,NaN
4092,E_ITSPVAC2,Eelmisel aastal IKT-spetsialistide värbamisega...,S,Muud teenindavad tegevused,50-99,50 kuni 99 töötajat,A,Aasta,2017,2017,0.0,NaN,NaN
4093,E_ITSPVAC2,Eelmisel aastal IKT-spetsialistide värbamisega...,S,Muud teenindavad tegevused,50-99,50 kuni 99 töötajat,A,Aasta,2020,2020,0.0,NaN,NaN
4094,E_ITSPVAC2,Eelmisel aastal IKT-spetsialistide värbamisega...,S,Muud teenindavad tegevused,100-249,100 kuni 249 töötajat,A,Aasta,2020,2020,NaN,q,– konfidentsiaalne
4095,E_ITSPVAC2,Eelmisel aastal IKT-spetsialistide värbamisega...,S,Muud teenindavad tegevused,GE250,Vähemalt 250 töötajat,A,Aasta,2020,2020,NaN,q,– konfidentsiaalne